.hero{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg, #0c0c1d, #111132);
    position: relative;

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
    }

    .textContainer{
        width: 50%;
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    h2{
        font-size: 45px;
        color: rgb(196, 0, 203);
        letter-spacing: 7px;
    }

    h1{
        font-size: 56px;
        
    }

    .buttons{
        button{
            padding: 20px;
            border: 1px solid white;
            border-radius: 10px;
            background-color: transparent;
            color: white;
            margin-right: 20px;
            cursor: pointer;
            font-weight: 300px;
        }

        button:hover{
            background-color: rgb(255, 255, 255);
            transition: 0.3s;
            scale: 1.1;
            color: black;
            
        }

    }

    .social-images{
        a{
            margin-right: 20px;
        }

    }

    

    
    .dynamicText {
        height: 90px;
        line-height: 90px;
        overflow: hidden;

        width: 1000px;
        li{
            color: aqua;
            list-style: none;
            animation: slide 6.1s steps(4) infinite;
            position: relative;
            top: 0;


            h1{
                position: relative;
            }
        }

        @keyframes slide {
            100% {
                top: -360px
            }
        }
    }


    .dynamicText li h1::after {
        content: "";
        // background: #0c0c1d;
        background: linear-gradient(180deg, #0c0c1d, #111132);
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        border-left: 2px solid rgb(230, 238, 8);
        animation: typing 1.5s steps(10) infinite;
    }
    
    @keyframes typing {
        0%, 20% {
            left: 100%;
            margin: 0 -35px 0 35px;
            content: "dvsvdsav";
        }

        21%, 40%{
            left: 100%;
            margin: 0 -35px 0 35px;
            content: "dvsvdsacfacdascadsv";
        }
    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        
    }


    

}


