html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
    
}

body{
    background-color: black;
    color: lightgray;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}