.navbar{
    height: 100px;
  

    .wrapper{
        max-width: 1366px;
        margin: auto;
        margin-left: 200px;
        margin-right: 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        height: 100%;

        span{
            font-weight: bold;
            font-size: 3rem;
        }
        .links {
            display: flex;
            gap: 50px;
            font-size: 20px;
        }
        
        .links a {
            text-decoration: none; /* Remove default underline */
            position: relative; /* Required for positioning the underline */
        }
        
        .links a::after {
            content: '';
            position: absolute;
            left: 0%; /* Position the underline in the middle */
            bottom: -5px; /* Adjust this value to position the underline properly */
            width: 0; /* Initially set width to 0 */
            height: 2px; /* Height of the underline */
            background-color: #ffffff; /* Color of the underline */
            transition: width 0.3s ease; /* Add transition for smooth effect */
        }
        
        .links a:hover::after {
            width: 100%; /* Expand width to 100% on hover */
            left: 0; /* Position the underline to start from the left */
        }
        
        
    }
}
