.navbar{
    height: 100px;
    background-color: blueviolet;

    .wrapper{
        max-width: 1366px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;

        span{
            font-weight: bold;
            font-size: 3rem;
        }

        .links{
            display: flex;
            gap: 50px;
            font-size: 25px;
        }
    }
}